@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* Colores  Paleta principal , secundaria y neutros*/
  --color-primario: #0d43f2;
  --color-secundario: #102127;
  --text-color-titulo: #191e2b;
  --text-color-cuerpo: #102129;
  --text-color-ligth: #ffff;
  /* Tipografia Fuentes, tamaños, pesos */
  --fuente-principal: "Rubik", sans-serif;
  --tamano-fuente-base: 16px;
  --peso-fuente-normal: 400;
  --peso-fuente-bold: 700;
  /* Espaciados Margenes, paddings */
  --espaciado-sm: 4px;
  --espaciado-md: 0.5rem;
  --espaciado-lg: 1rem;
  --ancho-maximo: 1.5rem;
}
